---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// Google Font 불러오기
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

// Minimal Mistakes 테마의 스킨과 메인 스타일 불러오기
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Font 변경 및 크기 조정
body {
  font-family: 'Inconsolata', monospace; // Inconsolata 폰트 적용
}

// 제목의 폰트 크기 조정
h1 {
  font-size: 24px;  // h1 태그의 크기를 24px로 설정
}

h2 {
  font-size: 20px;  // h2 태그의 크기를 20px로 설정
}

h3 {
  font-size: 18px;  // h3 태그의 크기를 18px로 설정
}

// 본문 텍스트의 폰트 크기 조정
p {
  font-size: 12px;  // 본문 텍스트 크기를 12px로 설정
}

/* archive 레이아웃 전용 스타일 */
.archive {
  font-size: 11px; /* archive 레이아웃에서의 글씨 크기 감소 */

  /* 자식 요소들의 폰트 크기 조정 */
  h1 {
    font-size: 22px; /* h1 태그 크기 약간 축소 */
  }

  h2 {
    font-size: 18px; /* h2 태그 크기 약간 축소 */
  }

  h3 {
    font-size: 16px; /* h3 태그 크기 약간 축소 */
  }

  p {
    font-size: 11px; /* p 태그 글씨 크기 축소 */
  }
}
